---
import type { ProjectFrontmatter } from "../../lib/types";
import { getConfigurationCollection } from "../../lib/utils";
import Anchor from "../common/Anchor.astro";
import ProjectSnippet from "../ProjectSnippet.astro";

type Props = {
  featuredProjects: Array<ProjectFrontmatter>;
}

const { featuredProjects } = Astro.props;
const { data: config } = await getConfigurationCollection();
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">{config.texts.projectsName}</h3>
  <Anchor url="/projects" class="text-base">{config.texts.viewAll}</Anchor>
</div>
<ul class="my-8">
  {
    (featuredProjects.length === 0 && <p>{config.texts.noProjects}</p>) ||
      featuredProjects.map((project) => (
        <li>
          <ProjectSnippet
            title={project.title}
            description={project.description}
            url={project.url}
            githubUrl={project.githubUrl}
            liveUrl={project.liveDemoUrl}
            tags={project.tags ?? []}
          />
        </li>
      ))
  }
</ul>