---
import type { ExperienceFrontmatter } from "../../lib/types";
import { getConfigurationCollection } from "../../lib/utils";
import Anchor from "../common/Anchor.astro";
import ExperienceSnippet from "../ExperienceSnippet.astro";

type Props = {
  featuredExperience: Array<ExperienceFrontmatter>;
};

const { featuredExperience } = Astro.props;
const { data: config } = await getConfigurationCollection();
---

<div class="flex justify-between items-center w-full">
  <h3 class="font-display text-lg sm:text-xl leading-loose">
    {config.texts.experienceName}
  </h3>
  <Anchor url="/experience" class="text-base">{config.texts.viewAll}</Anchor>
</div>
<ul class="my-8">
  {
    (featuredExperience.length === 0 && <p>{config.texts.noProjects}</p>) ||
      featuredExperience.map((exp) => (
        <li>
          <ExperienceSnippet
            title={exp.title}
            description={exp.description}
            url={exp.url}
            tags={exp.tags ?? []}
            start={exp.start}
            end={exp.end}
          />
        </li>
      ))
  }
</ul>
