---
import { getConfigurationCollection, processArticleDate } from "../lib/utils";
import type { ArticleFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";

type Props = { frontmatter: ArticleFrontmatter };

const { frontmatter } = Astro.props;
const articleDate = processArticleDate(frontmatter.timestamp);
const { data: config } = await getConfigurationCollection();
---

<Layout>
  <Fragment slot="head">
    <title>{`${frontmatter.title} • ${config.personal.name}`}</title>
    <meta
      name="description"
      content={frontmatter.longDescription ?? frontmatter.description}
    />
    <meta
      property="og:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta property="og:description" content={frontmatter.description} />
    {
      frontmatter.tags && (
        <meta name="keywords" content={frontmatter.tags.join(", ")} />
      )
    }
    {
      frontmatter.cardImage && (
        <meta property="og:image" content={frontmatter.cardImage} />
      )
    }
    <meta
      property="og:url"
      content={`${config.site.baseUrl}/blog/${frontmatter.slug}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta name="twitter:description" content={frontmatter.description} />
    {
      frontmatter.cardImage && (
        <meta name="twitter:image" content={frontmatter.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link
      rel="canonical"
      href={`${config.site.baseUrl}/blog/${frontmatter.slug}`}
    />
  </Fragment>
  <Section class="pt-8">
    <div class="flex flex-col gap-4 mt-8 mb-16">
      <h1
        class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display"
      >
        {frontmatter.title}
      </h1>
      <div class="flex justify-between">
        <span>{articleDate}</span>
        <span>{frontmatter.readTime} min</span>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">~{config.personal.name}</p>
  </Section>
</Layout>
